<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Mail</th>
    <th>Uid</th>
    <th>Cups</th>
    <th>Exercise num</th>
    <th>Lesson num</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.mail %></td>
    <td><%= user.uid %></td>
    <td><%= user.cups %></td>
    <td><%= user.exercise_num %></td>
    <td><%= user.lesson_num %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
