<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Mail:</b>
  <%= @user.mail %>
</p>

<p>
  <b>Uid:</b>
  <%= @user.uid %>
</p>

<p>
  <b>Cups:</b>
  <%= @user.cups %>
</p>

<p>
  <b>Exercise num:</b>
  <%= @user.exercise_num %>
</p>

<p>
  <b>Lesson num:</b>
  <%= @user.lesson_num %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
