<div class="courses">
    <h1>JavaScript课程列表<span class="count"><%=@courses.size%></span></h1>
    <ul >
        <%
            logger.debug("coming in index view of courses.")
        %>
        <% @courses.each do |course| %>
        <li class="course">
            <div class="course-info">
                <h3><a href="<%=request.env['PATH_INFO'] %>/<%=course.id%>"><%= course.name%> (<%= course.levels%>)</a></h3>
                <p>
                    <%= course.desc%>
                </p>
                <% 
                    progress = UserCourseShip.find_progress(session[:user_id],course.id)
                    course_status = "添加"
                    if progress ==nil
                         course_status = "添加"
                    elsif progress==1
                        course_status = "已完成"
                    elsif progress>0 and progress<1
                        course_status = "已添加"
                    end    
                %>
                <div class="lesson-stat">
                    <span><span class="count">8</span>节课</span>
                    <span><span class="count">42</span>项练习</span>
                </div>


            </div>
            <div class="status">
                <span class="percent">完成度：100%</span>
                <br />
                <span class="complete">完成10节课中的8节</span>

                <% if course_status =="添加" %>
                <div class="add-course"><%=button_to_function(course_status,"addCourse("+session[:user_id].to_s+","+course.id.to_s+")") %></div> 
                <% else %>
                    <div class="add-course"><%=label_tag course_status %></div> 
                <% end %> 
            </div>


        </li>
        <% end %>
    </ul>
</div>