<h1><%= @course.name%></h1>
<p><%= @course.desc%></p>
<div class="lessons">
    <ul >
        <% @lessons.each do |lesson| %> 
        <li class="lesson">
        	<h3><a href='../lessons/<%=lesson.id%>'  /><%=lesson.name%></a></h3>
        	<%=lesson.desc%>
        </li>
        <% end %>
    </ul>
</div>

<%= link_to 'Back', courses_path %> 