<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>codergate | 程序员之门</title>
        <%= stylesheet_link_tag    "application" %>
        <%= yield :styles %>
        <%= csrf_meta_tags %>
        <%= javascript_include_tag "application","jquery-1.7.1.min","jquery.jeditable.mini" %>
        <%= yield :scripts %>

    </head>
    <body>
        <div id="head">
            <div id="head-logo">
           		<a href="/" target="_self"><%= image_tag("logo.png",:size=>"120x30")%></a>
            </div>
            <div id="head-nav">
                <ul>
                    <li>
                        <a href="/create" style="width:100px;">创建课程</a>
                    </li>
                    <li>
                        <a href="/courses" style="width:100px;">所有课程</a>
                    </li>
                    <li>
                        <a href="/" ><%=session[:user_name]%></a>
                    </li>
                    <li>
                        <%=link_to "退出",{:controller=>:sessions,:action=>:destroy},{:method=>:delete} %>
                    </li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div class="sidebar">
                <div class="person-info">
                    <div class="profile">
                    <%
                        user_id = session["user_id"]
                        user = User.find user_id
                    %>
                        <%=user.name%>
                    </div>
                    <div class="achieve">
                        <%
                            if @cups = user.cups       
                                    @cups.each do |cup|
                         %>
                                <div class="cup">
                                    <%= image_tag(cup.image,:title=>cup.desc,:size => "40x40")%>
                                </div>
                                <% end -%>
                        <% else -%>
                                <b>完成课程你也可以获得勋章哦，快来试试吧</b>
                        <% end -%>
                    </div>
                </div>
                <div class="sidebar-nav">
                    <div class="nav-title">进行中</div>
                    <div class="nav-courses">
                        <ul>
                        <% 
                            un_courses = User.find_uncompleted_courses session[:user_id]
                            co_courses = User.find_completed_courses session[:user_id]
                            un_courses.each do |u|
                        %>
                            <li><%= link_to u.name, "/courses/"+u.id.to_s %><span>完成度：<%=(UserCourseShip.find_progress(session[:user_id],u.id)*100).to_i %>%</span></li>
                        <%
                            end 
                        %>
                        </ul>
                        <div>+<%=link_to "添加课程","/courses" %></div>
                    </div>
                </div>
                <div class="sidebar-nav">
                    <div class="nav-title">已完成</div>
                    <ul>
                        <%
                            co_courses.each do |u|
                        %>
                            <li><%= link_to u.name, "/courses/"+u.id.to_s %><span>完成度：<%=(UserCourseShip.find_progress(session[:user_id],u.id)*100).to_i %>%</span></li>
                        <%
                            end 
                        %>
                    </ul>                     
                </div>
            </div> <!--sidebar end-->
            <div class="main">
                <%= yield %>
            </div>
        </div>
        <div id="foot">
            <ul>
                <li>
                    © 2011 程序员之门
                </li>
                <li>
                    <a href="#">加入我们</a>
                </li>
                <li>
                    <a href="#">关于我们</a>
                </li>
                <li>
                    <a href="#">联系我们</a>
                </li>
                <li>
                    <a href="#">版权说明</a>
                </li>
            </ul>
        </div>
    </body>
</html>
